<a href="https://colab.research.google.com/github/hongwon2/BigQuery-Practice/blob/main/bigquery_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()

In [ ]:
%load_ext google.colab.data_table

In [ ]:
%%bigquery --project ringed-marker-347607
select
  name
from up.hos
limit 10

               name
0          강릉연세요양병원
1        강원도립강릉요양병원
2  의료법인라파의료재단예수요양병원
3            청강요양병원
4          동해금강요양병원
5            동해요양병원
6          동해이레요양병원
7            청솔요양병원
8           속초정요양병원
9            연세요양병원

In [ ]:
%%bigquery --project ringed-marker-347607 df
select
  name,type
from up.hos

In [ ]:
df.loc[:10,]

                name    type
0           강릉연세요양병원  : 요양병원
1         강원도립강릉요양병원  : 요양병원
2   의료법인라파의료재단예수요양병원  : 요양병원
3             청강요양병원  : 요양병원
4           동해금강요양병원  : 요양병원
5             동해요양병원  : 요양병원
6           동해이레요양병원  : 요양병원
7             청솔요양병원  : 요양병원
8            속초정요양병원  : 요양병원
9             연세요양병원  : 요양병원
10          원주민중요양병원  : 요양병원

In [ ]:
%%bigquery --project ringed-marker-347607 df
CREATE TABLE up.testtable(
    test_column_1   STRING
  , test_column_2   STRING
  , numeric_column  NUMERIC
);

In [ ]:
%%bigquery --project ringed-marker-347607
INSERT INTO up.testtable
VALUES
    ('you', '2022-05-04', 1)
  , ('are', '2022-05-05', 2)
  , ('the', '2022-05-06', 3)
  , ('best','2022-05-07', 4)
;

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%bigquery --project ringed-marker-347607
SELECT
	USER_ID
	, CASE
		WHEN register_device = 1 THEN '데스크톱'
		WHEN register_device = 2 THEN '스마트폰'
		WHEN register_device = 3 THEN '애플리케이션'
		-- 디폴트 값을 지정할 경우 ELSE 구문을 사용합니다.
		-- ELSE ''
	END AS device_name
FROM ch3.mst_users
;

  USER_ID device_name
0    U001        데스크톱
1    U002        스마트폰
2    U003      애플리케이션

In [ ]:
  import pandas as pd
  from google.colab import auth
  auth.authenticate_user()

In [ ]:
  query = "SELECT * FROM ch3.access_log LIMIT 10"
  df = pd.read_gbq(query=query, project_id='ringed-marker-347607', dialect='standard')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   stamp     3 non-null      object
 1   referrer  3 non-null      object
 2   url       3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [ ]:
df

,stamp,referrer,url
0,2016-08-26 12:02:00,http://www.other.com/path1/index.php?k1=v1&k2=...,http://www.example.com/video/detail?id=001
1,2016-08-26 12:02:01,https://www.other.com/,http://www.example.com/book/detail?id=002
2,2016-08-26 12:02:01,http://www.other.net/path1/index.php?k1=v1&k2=...,http://www.example.com/video#ref

In [ ]:
query = create table ch3.access_log3(
  name STRING,
  id   string
  )

df = pd.read_gbp(query,'ringed-marker-347607', dialect='standard')

SyntaxError: ignored

In [ ]:
import pandas_gbq

query = """
SELECT name,type
FROM up.hos
limit 10
"""
df = pandas_gbq.read_gbq(query, project_id='ringed-marker-347607')
df

Downloading: 100%|██████████| 10/10 [00:00<00:00, 61.80rows/s]

               name    type
0          강릉연세요양병원  : 요양병원
1        강원도립강릉요양병원  : 요양병원
2  의료법인라파의료재단예수요양병원  : 요양병원
3            청강요양병원  : 요양병원
4          동해금강요양병원  : 요양병원
5            동해요양병원  : 요양병원
6          동해이레요양병원  : 요양병원
7            청솔요양병원  : 요양병원
8           속초정요양병원  : 요양병원
9            연세요양병원  : 요양병원

In [ ]:
import pandas as pd
import pandas_gbq
df = pd.DataFrame(
    {
        "my_string": ["a", "b", "c"],
        "my_int64": [1, 2, 3],
        "my_float64": [4.0, 5.0, 7.0],
        "my_bool1": [True, False, True],
        "my_bool2": [False, True, False],
        "my_dates": pd.date_range("now", periods=3),
    }
)

pandas_gbq.to_gbq(df, 'up.testtable2', project_id='ringed-marker-347607')

1it [00:04,  4.90s/it]