<a href="https://colab.research.google.com/github/hongwon2/BigQuery-Practice/blob/main/%EA%B8%B0%EB%B3%B8%EC%A0%81%EC%9D%B8_%EB%A7%A4%EC%B6%9C_%EC%A7%80%ED%91%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()

In [2]:
%load_ext google.colab.data_table

In [3]:
%%bigquery --project ringed-marker-347607
WITH
daily_purchase2 AS( --임시테이블 명
  SELECT date,      --기존 테이블의 date 열
         COUNT(order_id) AS count_order,           --일별 주문 갯수
         EXTRACT(YEAR FROM date) AS year, --연도 
         SUBSTR(CAST(date AS STRING),6,2) AS month,--월
         SUBSTR(CAST(date AS STRING),9,2) AS day,  --일
         sum(sale) as daily_sale --일별 매출
  FROM ch4.sale_data --기존 테이블에서
  GROUP BY date --일별로 그룹화      
),
 monthly_purchase2 AS ( --임시 테이블 명
  SELECT
         year, --연도
         month,--월
         SUM(count_order) AS monthly_order, --월별 주문 갯수
         AVG(daily_sale) AS monthly_avg_sale, --월별 매출 평균
         SUM(daily_sale) AS monthly_all_sale, --월별 매출 총합
  FROM daily_purchase2 --daily_sale테이블에서
  GROUP BY year, month --연도별, 월별 그룹화
)
SELECT
       CONCAT(year, '-', month) AS year_month, --연-월
       monthly_order,                          --월별 주문갯수
       ROUND(monthly_avg_sale,2) AS monthly_avg_sale,--월별 매출 평균
       monthly_all_sale,                             --월별 매출 총합
       SUM(monthly_all_sale) OVER(PARTITION BY year ORDER BY month ROWS UNBOUNDED PRECEDING) AS cumulative_sale,--연도별 매출 누적 합
       LAG(monthly_all_sale, 12) OVER(ORDER BY year, month) AS last_year_sale,--작년 월별 매출액
       100.0 * monthly_all_sale / LAG(monthly_all_sale, 12) OVER(ORDER BY year, month) AS rate --현재월 - 작년월 증감율(기준:100)
FROM monthly_purchase2 --monthly_purchase2 임시테이블에서
ORDER BY year, month --연도,월별 오름차순
;

,year_month,monthly_order,monthly_avg_sale,monthly_all_sale,cumulative_sale,last_year_sale,rate
0,2015-01,77,676.52,14207,14207,NaN,NaN
1,2015-02,46,230.15,4603,18810,NaN,NaN
2,2015-03,151,2304.42,55306,74116,NaN,NaN
3,2015-04,130,1213.30,27906,102022,NaN,NaN
4,2015-05,119,841.75,23569,125591,NaN,NaN
5,2015-06,131,1373.00,34325,159916,NaN,NaN
6,2015-07,142,1407.63,33783,193699,NaN,NaN
7,2015-08,144,1114.38,26745,220444,NaN,NaN
8,2015-09,267,2915.46,81633,302077,NaN,NaN
9,2015-10,156,1073.48,31131,333208,NaN,NaN
10,2015-11,304,2780.50,77854,411062,NaN,NaN
11,2015-12,273,2434.21,68158,479220,NaN,NaN
12,2016-01,56,1003.06,18055,18055,14207.0,127.085240
13,2016-02,64,703.18,11954,30009,4603.0,259.700196
14,2016-03,125,1238.77,32208,62217,55306.0,58.235996
15,2016-04,159,1423.21,34157,96374,27906.0,122.400201
16,2016-05,143,1109.78,29964,126338,23569.0,127.133099
17,2016-06,126,1071.32,23569,149907,34325.0,68.664239
18,2016-07,136,1195.79,28699,178606,33783.0,84.951011
19,2016-08,158,1673.59,36819,215425,26745.0,137.666854
20,2016-09,285,2525.52,63138,278563,81633.0,77.343721
21,2016-10,159,1219.04,30476,309039,31131.0,97.895988
22,2016-11,316,2664.32,74601,383640,77854.0,95.821666
23,2016-12,309,2564.93,74383,458023,68158.0,109.133191
24,2017-01,89,883.24,18548,18548,18055.0,102.730546
25,2017-02,82,1042.36,22932,41480,11954.0,191.835369
26,2017-03,159,1893.78,51132,92612,32208.0,158.755589
27,2017-04,164,1481.69,38524,131136,34157.0,112.785081
28,2017-05,219,1953.21,56643,187779,29964.0,189.036844
29,2017-06,189,1521.00,39546,227325,23569.0,167.788196
30,2017-07,196,1532.80,38320,265645,28699.0,133.523816
31,2017-08,175,1090.93,30546,296191,36819.0,82.962601
32,2017-09,349,2473.21,69250,365441,63138.0,109.680383
33,2017-10,192,2206.93,59587,425028,30476.0,195.521066
34,2017-11,360,2695.76,78177,503205,74601.0,104.793501
35,2017-12,337,3412.93,95562,598767,74383.0,128.472904
36,2018-01,142,1888.35,43432,43432,18548.0,234.160017
37,2018-02,104,1000.50,20010,63442,22932.0,87.257980
38,2018-03,233,2060.39,57691,121133,51132.0,112.827584
39,2018-04,198,1297.89,35043,156176,38524.0,90.964074
40,2018-05,238,1625.56,43890,200066,56643.0,77.485303
41,2018-06,233,1829.54,47568,247634,39546.0,120.285237
42,2018-07,223,1545.79,44828,292462,38320.0,116.983299
43,2018-08,214,2332.30,62972,355434,30546.0,206.154652
44,2018-09,449,3030.21,84846,440280,69250.0,122.521300
45,2018-10,294,2766.36,77458,517738,59587.0,129.991441
46,2018-11,453,3925.83,117775,635513,78177.0,150.651726
47,2018-12,455,2848.97,82620,718133,95562.0,86.456960